
@font-face {
    font-family: "Cantarell";
    src: url(Assets/Cantarell-Italic.ttf) format('woff2');
}

@font-face {
    font-family: "Google Sans";
    src: url(Assets/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf) format('woff2');
}

:root {
    --br: 20px;
    --glass: rgba(255, 255, 255, 0.12);
    --stat-size: clamp(1rem, 0.832rem + 0.84vw, 1.5rem);
    --mid-stat-size: clamp(1rem, 0.243rem + 1.58vw, 1.5rem);
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    /* border: 1px solid salmon !important; */
}


body {
    background-color: #02012B;
    color: aliceblue;
    font-family: "Google Sans";
    padding: max(2%, 1.3rem) 6%;
}

img {
    max-width: 100%;
}


/* all clamps were calculated based on: 
   viewport width from 320px to 1275px */

/* https://min-max-calculator.9elements.com */

svg {
    width: clamp(1.4rem, 1.199rem + 1.01vw, 2rem);
    aspect-ratio: 1;
}


button:hover {
    cursor: pointer;
}

input::placeholder, input:focus, input {
    color: aliceblue;
    outline: none;
    
    /* controls both placeholder and user input font size */
    font-size: clamp(0.85rem, 0.636rem + 0.57vw, 2rem);
}


/* this part helps removing the place holder once i focus the input 
   instead once i type */
input::placeholder {
    transition: opacity 0.2s;
}


input:focus::placeholder {
    opacity: 0;
}

/* this helps removing the 'x' button that appear on fields when starting writing */
input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#logo, #units {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#logo {
    gap: 0.625em;

    font-size: clamp(1.3rem, 1.065rem + 1.17vw, 2rem);

    font-weight: 600;
    
    img {width: clamp(2rem, 1.33rem + 3.35vw, 4rem);}
}

#units {
    position: relative;
    gap: 0.41em;
    padding: 0.6em;

    font-size: clamp(0.5rem, 0.165rem + 1.68vw, 1.5rem);

    font-weight: 400; 

    background-color: var(--glass);
    border-radius: var(--br);

    select {
        padding-right: 0.5em;
        
    
        background: transparent;
        color: aliceblue;
    
        font-size: clamp(1rem, 0.243rem + 1.58vw, 1.5rem);
        /* viewport from 768 to 1275 */
    
        border: none;
        
        appearance: none;
        cursor: pointer;
    }
    
    select:focus {
        outline: none;
    }
    
    option {
        background: #1a1a4a;
        color: aliceblue;
        
        border: none;
    }

    #unit-caret {
        position: absolute;
        right: 0.5em;
        pointer-events: none;
    }
}

#title {
    margin: 0.5em 0;
    
    font-family: "Cantarell";
    font-size: clamp(2.5rem, 1.997rem + 2.51vw, 4rem);
    text-align: center;

}

#search {
    display: flex;
    justify-content: center;
    gap: 0.7em;

    margin-bottom: clamp(1.2rem, 0.798rem + 2.01vw, 2.4rem);

    svg {
        position: absolute;
        /* basically moving the icon in the space that i made in the input */
        left: clamp(0.5rem, 0.433rem + 0.34vw, 0.7rem);
        top:  clamp(0.3rem, 0.199rem + 0.5vw, 0.6rem);
    }

    button, input {
        border: 0;
        border-radius: var(--br);
    }
    
    input {
        width: 100%;
        /* basically making a space for the icon */
        padding-left: 2.8em;
        
        background-color: var(--glass);
    }

    button {
        padding: 0.7em 1.2em;

        font-size: clamp(0.85rem, 0.636rem + 0.57vw, 2rem);
        background-color: #4657D9;
        color: aliceblue;
    }
}


#searchForm {
    position: relative;

    display: flex;
    justify-content: center;
    
    width: 80%;
    max-width: 37.5rem;
}

.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#main-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: clamp(2rem, 1.33rem + 3.35vw, 4rem) clamp(0rem, -1.005rem + 5.03vw, 3rem);
    margin-bottom: clamp(1.2rem, 0.932rem + 1.34vw, 2rem);

    background-image: url(Assets/sky.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--br);
}

#main-weather {
    width: 72%;
}

#city-time {

    #city {
        font-size: clamp(2rem, 1.665rem + 1.68vw, 3rem);
    }
    
    #time {
        font-size: clamp(1.33rem, 1.105rem + 1.12vw, 2rem);
    }
}

#img-num {
    display: flex;
    align-items: center;
    
    #num {
        font-size: clamp(4rem, -0.544rem + 9.47vw, 7rem);
        /* viewport from 768 to 1275 */

        font-weight: 600;
        font-style: italic;
    }

    img {
        width: clamp(2.85rem, -0.407rem + 6.79vw, 5rem);
        /* viewport from 768 to 1275 */

        aspect-ratio: 1;
    }
}

#long-forecast {
    display: flex;
    flex-direction: column;
    gap: 0.42em;

    padding: 1em;
    width: 27%;
    
    background-color: var(--glass);
    border-radius: var(--br);
    font-size: clamp(1rem, 0.243rem + 1.58vw, 1.5rem);
    /* viewport from 768 to 1275 */
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    

    background-color: var(--glass);
    border-radius: var(--br);
}

.icon-time {
    display: flex;
    align-items: center;
    gap: 0.42em;
}

.first-row {
    background-color: transparent !important;
    justify-content: space-between;
    padding: 0;
    
    .box {
        display: flex;
        align-items: center;
    }

    #forecast-day-wrapper {
        position: relative;
        padding: 0.6em 0;

        background: var(--glass);
        border-radius: var(--br);

        cursor: pointer;
    }

    select {
        padding-left:  0.5em;
        padding-right: 0em;
        
        background: transparent;
        color: aliceblue;

        font-size: clamp(1rem, 0.243rem + 1.58vw, 1.5rem);
        /* viewport from 768 to 1275 */

        border: none;
        
        appearance: none;
        cursor: pointer;
    }
    
    select:focus {
        outline: none;
    }
    
    option {
        background: #1a1a4a;
        color: aliceblue;
        
        border: none;
    }

    svg {
        position: absolute;
        
        left: clamp(4rem, 0.97rem + 6.31vw, 6rem);
        /* viewport from 768 to 1275 */
        
        pointer-events: none;
    }
}

#stats {
    overflow-x: auto;
    
    display: flex;
    justify-content: space-between;
    gap: 1em;

    margin-bottom: clamp(1.2rem, 0.932rem + 1.34vw, 2rem);

    font-size: clamp(1rem, 0.832rem + 0.84vw, 1.5rem);
}

.stat {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    padding: 1em clamp(0.3rem, 0.065rem + 1.17vw, 1rem);
    flex-grow: 1; 
    /* this is related to the flex on stats not stat */

    background-color: var(--glass);
    border-radius: var(--br);
}

.stat-text {
    font-size: 0.9em;
}

.stat-num {
    font-size: 1.3em;
}

#stats2 {
    overflow-x: auto;

    font-size: clamp(1rem, 0.899rem + 0.5vw, 1.3rem);

    #stats2-title {
        margin-bottom: 1rem;
    }

    #stats2-content {
        display: flex;
        justify-content: space-between;
        gap: 1em;
    }

    .stat {
        align-items: center;

        padding-top:    0.7em;
        padding-bottom: 0.7em;
    }

    .stat2-nums {
        width: 100%;

        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

}



@media (max-width : 380px) {

    #units {
        padding: 1em;
        #unit-caret, #unit-gear {display: none;}
        select {padding: 0;}
    }

}

@media (max-width : 768px) {
    
    #main-weather {
        margin-bottom: 1.2em;
    }

    #main-weather, #long-forecast {
        width: 100%;
    }

    #main-card {
        flex-direction: column;
        gap: 10px;
    }

    #city-time {
        text-align: center;
    }

    #stats {
        flex-wrap: wrap;
    }

    #stats2-content {
        flex-wrap: wrap;
        justify-content: center !important;

        .stat {
            flex-grow: 0;
        }
    }

}