
@font-face {
    font-family: "Cantarell";
    src: url(Assets/Cantarell-Italic.ttf) format('woff2');
}

@font-face {
    font-family: "Google Sans";
    src: url(Assets/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf) format('woff2');
}

:root {
    --br: 20px;
    --glass: rgba(255, 255, 255, 0.12);
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    /* border: 1px solid salmon !important; */
}


body {
    background-color: #02012B;
    color: aliceblue;
    font-family: "Google Sans";
    padding: 2% 6%;
}

img {
    max-width: 100%;
}

svg {
    width: clamp(1.4rem, 1.199rem + 1.01vw, 2rem);
    aspect-ratio: 1;
}

button:hover {
    cursor: pointer;
}

input::placeholder, input:focus, input {
    color: aliceblue;
    outline: none;
    
    /* controls both placeholder and user input font size */
    font-size: clamp(0.75rem, 0.636rem + 0.57vw, 2rem);
}

/* this part helps removing the place holder once i focus the input 
   instead once i type */
input::placeholder {
    transition: opacity 0.2s;
}

input:focus::placeholder {
    opacity: 0;
}

/* this helps removing the 'x' button that appear on fields when starting writing */
input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#logo, #units {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#logo {
    gap: 0.625em;

    font-size: 2rem;
    font-size: clamp(1.3rem, 1.065rem + 1.17vw, 2rem);

    font-weight: 600;
    
    img {width: clamp(2rem, 1.33rem + 3.35vw, 4rem);}
}

#units {
    gap: 0.41em;
    padding: 0.6em;

    font-size: 1.5rem;
    font-size: clamp(0.5rem, 0.165rem + 1.68vw, 1.5rem);

    font-weight: 400; 

    background-color: var(--glass);
    border-radius: var(--br);
}

#title {
    margin: 0.5em 0;
    
    font-family: "Cantarell";
    font-size: clamp(2.5rem, 1.997rem + 2.51vw, 4rem);
    text-align: center;

}

#search {
    display: flex;
    justify-content: center;
    gap: 0.7em;

    margin-bottom: 2em;

    svg {
        position: absolute;
        /* basically moving the icon in the space that i made in the input */
        left: clamp(0.5rem, 0.433rem + 0.34vw, 0.7rem);
        top:  clamp(0.3rem, 0.199rem + 0.5vw, 0.6rem);
    }

    button, input {
        border: 0;
        border-radius: var(--br);
    }
    
    input {
        width: 100%;
        /* basically making a space for the icon */
        padding-left: 2.8em;
        
        background-color: var(--glass);
    }

    button {
        padding: 0.7em 1.2em;

        font-size: clamp(0.75rem, 0.636rem + 0.57vw, 2rem);
        background-color: #4657D9;
        color: aliceblue;
    }
}


#searchForm {
    position: relative;

    display: flex;
    justify-content: center;
    
    width: 80%;
    max-width: 37.5rem;
}

.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#main-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 4em 3em;

    background-image: url(Assets/sky.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--br);
}

#main-weather {
    width: 72%;
}

#city-time {


    #city {
        font-size: 3rem;
    }
    
    #time {
        font-size: 2rem;
    }
}

#img-num {
    display: flex;
    align-items: center;

    
    #num {
        font-size: 7rem;
        font-style: italic;
    }

    img {
        width: 5rem;

        aspect-ratio: 1;
    }
}

#long-forecast {
    display: flex;
    flex-direction: column;
    gap: 0.42em;

    padding: 1em;
    width: 27%;
    
    background-color: var(--glass);
    border-radius: var(--br);
    font-size: 1.5rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    

    background-color: var(--glass);
    border-radius: var(--br);
}

.icon-time {
    display: flex;
    align-items: center;
    gap: 0.42em;
}

.first-row {
    background-color: transparent !important;
    justify-content: space-between;
    padding: 0;
    
    .box {
        display: flex;
        align-items: center;
    }

    #forecast-day-wrapper {
        position: relative;
        padding: 0.6em 0;

        background: var(--glass);
        border-radius: var(--br);

        cursor: pointer;
    }

    select {
        padding-left: 0.5em;
        padding-right: 0.5em;

        background: transparent;
        color: aliceblue;
        font-size: 1.5rem;

        border: none;
        
        appearance: none;
        cursor: pointer;
    }
    
    select:focus {
        outline: none;
    }
    
    option {
        background: #1a1a4a;
        color: aliceblue;
        font-size: 1.5rem;
        
        border: none;
    }

    svg {
        position: absolute;
        left: 6rem;
        pointer-events: none;
    }
}



@media (max-width : 380px) {

    #units {
        #unit-caret, p {display: none;}
    }



    #main-weather {
        width: 100%;
    }
}